<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>hieupt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hieupt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNotiController</servlet-name>
        <servlet-class>hieupt.controllers.SearchNotiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>hieupt.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>hieupt.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>hieupt.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>hieupt.controllers.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>hieupt.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.CreateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.SearchDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.DeleteDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.EditDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.UpdateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPositionHistoryController</servlet-name>
        <servlet-class>hieupt.controllers.SearchPositionHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomController</servlet-name>
        <servlet-class>hieupt.controllers.CreateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>hieupt.controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>hieupt.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomController</servlet-name>
        <servlet-class>hieupt.controllers.EditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>hieupt.controllers.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSystemNotiController</servlet-name>
        <servlet-class>hieupt.controllers.SearchSystemNotiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceUserController</servlet-name>
        <servlet-class>hieupt.controllers.SearchDeviceUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPositionHistoryUserController</servlet-name>
        <servlet-class>hieupt.controllers.SearchPositionHistoryUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>hieupt.controllers.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackController</servlet-name>
        <servlet-class>hieupt.controllers.SendFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixedHistoryController</servlet-name>
        <servlet-class>hieupt.controllers.FixedHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveController</servlet-name>
        <servlet-class>hieupt.controllers.MoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveDeviceController</servlet-name>
        <servlet-class>hieupt.controllers.MoveDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>hieupt.controllers.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptController</servlet-name>
        <servlet-class>hieupt.controllers.AcceptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishController</servlet-name>
        <servlet-class>hieupt.controllers.FinishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResponseController</servlet-name>
        <servlet-class>hieupt.controllers.SendResponseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserNotificationController</servlet-name>
        <servlet-class>hieupt.controllers.SearchUserNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>hieupt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyController</servlet-name>
        <servlet-class>hieupt.controllers.DenyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>hieupt.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStatisticalController</servlet-name>
        <servlet-class>hieupt.controllers.SearchStatisticalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNotiController</servlet-name>
        <url-pattern>/SearchNotiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDeviceController</servlet-name>
        <url-pattern>/CreateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceController</servlet-name>
        <url-pattern>/SearchDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceController</servlet-name>
        <url-pattern>/DeleteDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeviceController</servlet-name>
        <url-pattern>/EditDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceController</servlet-name>
        <url-pattern>/UpdateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPositionHistoryController</servlet-name>
        <url-pattern>/SearchPositionHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomController</servlet-name>
        <url-pattern>/CreateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomController</servlet-name>
        <url-pattern>/EditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSystemNotiController</servlet-name>
        <url-pattern>/SearchSystemNotiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceUserController</servlet-name>
        <url-pattern>/SearchDeviceUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPositionHistoryUserController</servlet-name>
        <url-pattern>/SearchPositionHistoryUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackController</servlet-name>
        <url-pattern>/SendFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixedHistoryController</servlet-name>
        <url-pattern>/FixedHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveController</servlet-name>
        <url-pattern>/MoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveDeviceController</servlet-name>
        <url-pattern>/MoveDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptController</servlet-name>
        <url-pattern>/AcceptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishController</servlet-name>
        <url-pattern>/FinishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResponseController</servlet-name>
        <url-pattern>/SendResponseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserNotificationController</servlet-name>
        <url-pattern>/SearchUserNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyController</servlet-name>
        <url-pattern>/DenyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStatisticalController</servlet-name>
        <url-pattern>/SearchStatisticalController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
